@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Figtree", sans-serif;
  background-color: #121212; 
  color: #fff; 
  font-size: 16px;
}


.janela {
  display: flex;
  height: 100vh;
  max-width: 100%;
  flex-direction: row;
}


.header-left {
  background-color: #000000; 
  color: #fff;
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.header-left h1 {
  font-size: 32px;
  font-weight: 700;
  color: #C0392B; 
}


.hello h3 {
  font-size: 18px;
  font-weight: 400;
  color: #ddd;
  margin-top: 20px;
}


.btn-nav, .btn-nav-white {
  background-color: #f6eded;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-nav-white {
  background-color: #f0ecec; 
}

.btn-nav:hover, .btn-nav-white:hover {
  background-color: #C0392B; 
}

.btn-nav a, .btn-nav-white a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}


.btn-logout {
  background-color: #E74C3C; 
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.btn-logout:hover {
  background-color: #C0392B; 
}


.dash {
  flex-grow: 1;
  padding: 20px;
  background-color: #481010; 
}


#alerta {
  background-color: #E74C3C; 
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: none; 
}


#graficos {
  background-color: #121212; 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

canvas {
  max-width: 100%;
  max-height: 500px;
  margin: 20px 0;
}


.btns-dash {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

#btnAquario {
  background-color: #1C1C1C;
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

#btnAquario:hover {
  background-color: #C0392B; 
}


h3, h1 {
  font-family: 'Exo 2', sans-serif;
  color: #7d0c0c;
}

h1 {
  font-size: 36px;
}

h3 {
  font-size: 20px;
}
